:root{
    --azulthink: #1E90FF;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --claro-cinza-color: #898A8C;
    --claro2-cinza--color: #F7F7F7;
    --claro-verde-musgo-color : #AEC422;
    --claro-rosa-color: #C38E8E;
    --claro-castanho-color: #C3AE8E;
    --claro-azul-color: #8EADC3;
    --claro2-azul-color: #A3B4BF;
    --medio-alaranjado-color: #C95412;
    --medio-azul-color: #02767D;
    --medio2-azul-color: #3E4B99;
    --medio-azul-marin-color: #152166;
    --medio2-azul-marin-color: #1C2D8E;
    --vermelho-tipoPag: #c90e40;
    --escuro-vermelho-vinho-color: #B60000;
} 
